section {
  margin: 40px;

  @media (max-width: 650px) {
    margin: 20px;
  }

  .about-text {
    margin-top: 10px;

    &::first-line {
      font-weight: 500;
    }

    &::first-letter {
      font-size: 24px;
    }
  }
}
