main {
  margin: 40px;
  column-count: 2;
  column-gap: 40px;

  @media (max-width: 650px) {
    column-count: 1;
    margin: 20px;
  }

  article {
    margin-top: 20px;

    p {
      margin-top: 15px;
    }
  }
}
